<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="shortcut icon" href="/images/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{> header}}
        <p>This site was create by HungPrince, It uses mapbox.com and weather api</p>
        <img class="portrait" src="/images/memory_me.png" alt="" />
        <p>{{name}}</p>
    </div>
</body>
{{> footer}}

</html>